.blogs-container {
    padding: 0 100px;
    margin-bottom: 40px;
}

.blogs-container h2 {
    font-size: 37px;
    font-weight: 500;
    text-align: center;
}

.blog h3 {
    font-size: 28px;
    font-weight: 500;
}

.blog p {
    font-size: 18px;

}

.blog span {
    font-weight: bold;
}

.blog xmp,
code,
span {
    color: #9D4473;
}



@media screen and (min-width:250px) and (max-width:425px) {
    .blogs-container {
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .blogs-container h2 {
        font-size: 25px;

    }

    .blog h3 {
        font-size: 20px;
    }

    .blog p {
        font-size: 16px;
    }
}

@media screen and (min-width:426px) and (max-width:800px) {
    .blogs-container {
        padding: 0 50px;
        margin-bottom: 40px;
    }

    .blogs-container h2 {
        font-size: 30px;

    }

    .blog h3 {
        font-size: 22px;
    }

    .blog p {
        font-size: 16px;
    }
}