.error-page {
    text-align: center;
    padding: 0 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error-page img {
    width: 450px;
}

.error-page h2 {
    font-size: 40px;
    color: #9D4473;
}

/********************* Responsive for Mobile  ********************/
@media screen and (min-width:250px) and (max-width:425px) {
    .error-page {
        padding: 0 20px;
        height: 100vh;

    }

    .error-page img {
        width: 250px;
    }

    .error-page h2 {
        font-size: 25px;
    }
}

/********************* Responsive for Tablet  ********************/
@media screen and (min-width:426px) and (max-width:800px) {
    .error-page {
        padding: 0 50px;
        height: 100vh;

    }

    .error-page img {
        width: 350px;
    }

    .error-page h2 {
        font-size: 25px;
    }
}