/********************* Banner Part ********************/
.banner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 80px 100px;
}

.banner-left {
    padding-right: 50px;
}

.banner-left h1 {
    font-size: 60px;
    margin: 10px 0;
}

.banner-left span {
    color: #9D4473;
}

.banner-left p {
    font-size: 17px;
}

.banner-left button {
    background-color: white;
    padding: 12px 30px;
    font-size: 20px;
    border: 2px solid #9D4473;
    color: #9D4473;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.banner-left button:hover {
    background-color: #9D4473;
    color: white;
}

.banner-right img {
    width: 100%;
}


/********************* Customar Reviews ********************/
.customer-reviews {
    padding: 50px 100px;
    text-align: center;
}

.review-title h2 {
    font-size: 35px;
    font-weight: 500;
}

.reviewers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.review-btn {
    margin-top: 30px;
}

.review-btn button {
    background-color: white;
    border: 2px solid #9D4473;
    color: #9D4473;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: 10px 20px;
    font-size: 15px;
}

.review-btn button:hover {
    background-color: #9D4473;
    color: white;
}


/********************* Responsive for Mobile  ********************/
@media screen and (min-width:250px) and (max-width:425px) {
    .banner {
        grid-template-columns: 1fr;
        padding: 20px;
        grid-template-areas:
            "br"
            "bl";
    }

    .banner-left {
        padding-right: 0;
        grid-area: bl;
    }

    .banner-left h1 {
        font-size: 30px;
        margin: 10px 0;
    }

    .banner-left button {

        padding: 8px 20px;
        font-size: 17px;
    }

    .banner-right {
        grid-area: br;
        margin-top: 20px;
    }

    .customer-reviews {
        padding: 20px 20px;
    }

    .reviewers {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .review-title h2 {
        font-size: 25px;

    }
}

/********************* Responsive for Tablet  ********************/
@media screen and (min-width:426px) and (max-width:800px) {
    .banner {
        grid-template-columns: 3fr 2fr;
        padding: 50px;
    }

    .banner-left {
        padding-right: 40;

    }

    .banner-left h1 {
        font-size: 35px;
    }

    .reviewers {
        grid-template-columns: 1fr 1fr;
    }

    .review-title h2 {
        font-size: 30px;

    }
}