.charts-container {
    padding: 50px 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
}

.chart-title {
    color: #9D4473;
}




@media screen and (min-width:250px) and (max-width:425px) {
    .charts-container {
        padding: 30px 20px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


@media screen and (min-width:426px) and (max-width:800px) {
    .charts-container {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }
}